page-home {

}
ion-grid {

    text-align: center;
    align-self: center;
    align-items: center;
}
ion-row{
    justify-content: start;
    align-self: center;
    align-items: center;
    align-content: center;
    
}