<!--
  Generated template for the ExamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Exam</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <strong>ตารางสอบ</strong>

  <ion-card *ngFor="let spy of spy">
    <ion-card-header style="background-color:#ff6000;"> 
      <b><ion-label>{{spy.ExamData.Date}}</ion-label></b>
    </ion-card-header>
    <ion-card-content>
     

       
          <ion-label>{{spy.ExamData.SbjID}}</ion-label>
          <b><ion-label>{{spy.ExamData.SbjEName}}</ion-label></b><br>
          <ion-label>S.{{spy.ExamData.Section}}</ion-label>
          <ion-label>{{spy.ExamData.Time}} น.</ion-label>
          <ion-label>{{spy.ExamData.Room}}</ion-label>
      




      
      
    </ion-card-content>

  </ion-card>

  <!-- <ion-list> -->
  <!-- <div class="col-12"> -->
  <!-- <ion-item *ngFor="let spy of spy">
            <ion-label class="col-2">{{spy.ExamData.SbjID}}</ion-label>
            <ion-label style="font-size:8px; width: 100px">{{spy.ExamData.SbjEName}}</ion-label><br>
            <ion-label>S.{{spy.ExamData.Section}}</ion-label>
            <ion-label>{{spy.ExamData.Date}}</ion-label>
            <ion-label>{{spy.ExamData.Time}} น.</ion-label>
            <ion-label>{{spy.ExamData.Room}}</ion-label>
          </ion-item> -->
  <!-- </div> -->



  <!-- </ion-list> -->



  


</ion-content>