<ion-header>
  <img style="width:400px ; height:100px ;" src="../../assets/imgs/Userpage.png" alt="error" />
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content *ngIf="id">
        <ion-card-content *ngIf="panelO">
      <ion-card-header text-center style="background-color:#ff8d46;">
        <b>{{id.username}}</b>
      </ion-card-header>

      <br />

      <ion-label>Name : {{id.firstname_en}}</ion-label>

      <ion-label>Lastname : {{id.lastname_en}}</ion-label>
      <ion-label>E-mail : {{id.email}}</ion-label>
      <ion-label>Birthday : {{id.birthdate}}</ion-label>
      <ion-label>Status : {{id.account_type}}</ion-label>
    </ion-card-content>
    <ion-card-content text-center *ngIf="panelO">
      <button  text-center ion-button small name="logout" (click)="Obto()">Logout</button>
    </ion-card-content>
    </ion-card-content>
    <ion-card-content text-center *ngIf="panelI">
      <h3>กรุณาเข้าสู่ระบบ</h3><br />
      <button ion-button small name="login" (click)="Obtn()">LogIn</button>
    </ion-card-content>
  </ion-card>
</ion-content>